sudo: false
language: c
 
addons:
  apt:
    packages:
    - pandoc
 
script: curl -s https://raw.githubusercontent.com/BigWigsMods/packager/master/release.sh | bash

branches:
  only:
  - /^master$|^Rework$|^\d+\.\d+(\.\d+)?(-\S*)?$/